/* SM */
@media(min-width:576px)
{
    .container-sm{
        max-width: 540px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-12{
        width: 100%;
    }
}

/* MD */
@media(min-width:768px)
{
    .container-md{
        max-width: 720px;
        padding: 0 15px;
        margin: 0 auto;
    }
    
    .col-6{
        width: 50%;
    }
}

/* LG */
@media(min-width:992px)
{
    .container-lg{
        max-width: 960px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-4{
        width: 33.33%;
    }
}

/* XL */
@media(min-width:1200px)
{
    .container-xl{
        max-width: 1140px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-3{
        width: 25%;
    }
}

/* XXL */
@media(min-width:1400px)
{
    .container-xl{
        max-width: 1320px;
        padding: 0 15px;
        margin: 0 auto;
    }
    .col-3{
        width: 25%;
    }
    
}